<div class="page-layout">
  <div class="bar-left"></div>
  <div class="grades-container">
    <p>Course Grades:</p>
    <span>Filters:</span>
    <div class="filters">
      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select [(ngModel)]="selectedYear" (ngModelChange)="filterData()">
          <mat-option></mat-option>
          <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Term</mat-label>
        <mat-select [(ngModel)]="selectedTerm" (ngModelChange)="filterData()">
          <mat-option></mat-option>
          <mat-option *ngFor="let term of terms" [value]="term">{{term}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Course code</mat-label>
        <mat-select [(ngModel)]="selectedCourseCode" (ngModelChange)="filterData()">
          <mat-option></mat-option>
          <mat-option *ngFor="let code of codes" [value]="code">{{ code }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="displayCompleted" [checked]="displayCompleted" (change)="filterData()">Only show completed courses</mat-checkbox>
    </div>
    <span>Columns:</span>
    <div class="columns">
      <mat-checkbox [checked]="columnVisibility['code']" (change)="updateColumnVisibility('code')">Course Code</mat-checkbox>
      <mat-checkbox [checked]="columnVisibility['name']" (change)="updateColumnVisibility('name')">Course Name</mat-checkbox>
      <mat-checkbox [checked]="columnVisibility['units']" (change)="updateColumnVisibility('units')">Units</mat-checkbox>
      <mat-checkbox [checked]="columnVisibility['grading']" (change)="updateColumnVisibility('grading')">Grading</mat-checkbox>
      <mat-checkbox [checked]="columnVisibility['grade']" (change)="updateColumnVisibility('grade')">Grade</mat-checkbox>
      <mat-checkbox [checked]="columnVisibility['points']" (change)="updateColumnVisibility('points')">Grade Points</mat-checkbox>
    </div>
    <div class="gpa">
      <p class="cgpa">CGPA: {{cgpa}}</p>
      <p class="tgpa">TGPA (for selected year + term): {{tgpa}}</p>
    </div>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="code">
          <th mat-sort-header [hidden]="!columnVisibility['code']" class="course-code" mat-header-cell *matHeaderCellDef> Course Code <mat-icon>assignment</mat-icon></th>
          <td [hidden]="!columnVisibility['code']" mat-cell *matCellDef="let element">{{ element.code }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-sort-header [hidden]="!columnVisibility['name']" class="course-name" mat-header-cell *matHeaderCellDef> Course Name <mat-icon>class</mat-icon></th>
          <td [hidden]="!columnVisibility['name']" mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="units">
          <th mat-sort-header [hidden]="!columnVisibility['units']" class="course-units" mat-header-cell *matHeaderCellDef> Units <mat-icon>trending_up</mat-icon></th>
          <td [hidden]="!columnVisibility['units']" mat-cell *matCellDef="let element"> {{element.units}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="grading">
          <th mat-sort-header [hidden]="!columnVisibility['grading']" class="course-grading" mat-header-cell *matHeaderCellDef> Grading <mat-icon>group_work</mat-icon></th>
          <td [hidden]="!columnVisibility['grading']" mat-cell *matCellDef="let element"> {{element.grading}} </td>
        </ng-container>

        <ng-container matColumnDef="grade">
          <th mat-sort-header [hidden]="!columnVisibility['grade']" class="course-grade" mat-header-cell *matHeaderCellDef> Grade <mat-icon>grade</mat-icon></th>
          <td [hidden]="!columnVisibility['grade']" mat-cell *matCellDef="let element"> {{element.letter}} </td>
        </ng-container>

        <ng-container matColumnDef="points">
          <th mat-sort-header [hidden]="!columnVisibility['points']" class="course-points" mat-header-cell *matHeaderCellDef> Grade Points <mat-icon>data_usage</mat-icon></th>
          <td [hidden]="!columnVisibility['points']" mat-cell *matCellDef="let element"> {{element.points}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div class="bar-right"></div>
</div>
