<div class="page-layout">
  <div class="bar-left"></div>
  <div class="home-container">
    <h1>Welcome to the uOttawa Student Helper!</h1>
    <img class="logo" src="../assets/uottawa.svg" alt="uottawa logo">
    <h2>Grades:</h2>
      <p>When you navigate to the grades tab, you have plenty of options! You will see all of your grades displayed in a table for your entire
      university career. You can sort any column of the table to simplify your view, to see your highest grades or sort your course codes.
      You can also apply filters to the table, you can filter by calendar year, term, course code, and completed courses or any combination. This makes it easy to sort
      all your grades without having to switch pages or tabs. The grades page also displays your CGPA (Cumulative Grade Point Average) above the table, and if you
        select a year and term, it will display your TGPA (Term Grade Point Average) for that term as well. You can also toggle certain columns on and off, if you find
        that certain columns don't interest you, you can toggle them off to simplify your view even further. The grades page is meant to provide students with maximum
        flexibility when it comes to viewing their grades. Enjoy!
      </p>
      <h2>Transactions:</h2>
      <p>
        When you navigate to the transactions tab, you will also have plenty of options! You will see all of your transactions made on your student card since the beginning
        of university in a table. You can sort any column of the table to simplify your view. You can sort it to see your biggest deposits and withdrawals for example.
        You can also apply filters to the table. You can pick a start and end date to display transactions that occurred between a certain set of dates. You can also pick
        a start and end time to display transactions that occurred during certain time periods. You can also filter by the type of transaction you made. You can combine any
        of the filters to simplify your view. You can also toggle certain columns on and off, if you find that certain columns don't interest you, you can toggle them
        off to simplify your view even further. Your balance will also be displayed over the table. The transactions page is meant to provide students with maximum flexibility
        when it comes to viewing their transactions so they don't have to click through multiple page or tabs to see their information. Enjoy!
      </p>
    <h3>Created by Alex Govier, Shaun Francis, Francesco Monti, and Amine El Goussi</h3>

  </div>
  <div class="bar-right"></div>
</div>
